@media screen and (min-width: 300px){


    #text-input {
        width: 100%;
        height: 300px;
        font-size: 30px;
       
    }


    .action-button-txt button {
        
        font-size: 16px;
       
    }

    .save-button input {
       
        font-size: 19px;
        
    }
}