
<div class="container__caixa-assinatura-txt">


    <input
   
        type="text"
        id="text-input"
        [(ngModel)]="assinaturaSalva"
        #assinaturaTxt
        (change)="enviandoAssinaturaTxt()"
        
        />



    <div class="action-button-txt">
        <a (click)="limparInput()" >
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABAElEQVR4nOXUO2oCYRwE8CkknVcw6AV81BG9gI/aBwHbaNqINpY+WkUvoGir6AUU0yrJBQxaxV5Bg2FlKqv5S0AkA1+x8JtvtlgW+C+pADhdnOo1F53+6NxuwMknkf/8pCXAzoeCJ8Qxw0CcnbGCO8QvhoE8O20Fl6/4SmrslBScJe4aBnrsZBQcJZ4aBmbsRBTsI14ZBr7Y8Sr4AcAPgCMAl+Adc2DH6UrZ8I08gn2kXcOQd5aeBBumnVsGBiylBJum7VsGGiy9CbZIW7cMvLLUFGyLtmAZSLI0FOyINmEZCLG0EOySNmgZcAPYG/7/O3ZMyQHYCpd/A3i2Xn4/+QVXaHujT54Q+AAAAABJRU5ErkJggg==">  
            Limpar</a>
        
    </div>

    <div class="container-save-button">
        <input class="save-button"
        [ngClass]="{'save-button-active': assinaturaSalva}"
        [disabled]="!assinaturaSalva"
        (click)="enviandoAssinaturaTxt()" routerLink="/doc" type="button" value="Salvar assinatura" >
    </div>

</div>
