#text-input{
    width: 600px;
    height: 300px;
    border: 1px solid #1f1d1d;
    font-size: 45px;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    padding-left: 5px;
  

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
 
  
}



.action-button-txt { 
    margin-top: 1em;
}

.action-button-txt a{ 
    padding: 5px 8px;
    cursor: pointer;
    font-size: 15px;
    background-color: #eff3f6 !important;
    display: flex;
    width: fit-content;
    border: 1px solid rgba(27,31,35,.2) !important;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%) !important;
    align-items: center; 
    border-radius: 8px;
    color: #24292e !important;

}

.action-button-txt a:hover{ 
   

    background-position: -0.5em;
    background-color: #e6ebf1 !important;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%) !important;
    border-color: rgba(27,31,35,.35) !important;

}





.action-button-txt a img{
    width: 2em;
    height: 2em;
   margin-right: 5px;

}

.active{
    border: 1px solid #2d6dfb;; 
     background-color: rgb(75, 75, 255);
     color: white;
 }
 
 .container-save-button{
     margin-top: 1em;
     display: flex;
     justify-content: center;
 }
 .save-button{ 
     width: 80%;
     background-color: white;
     border: 1px solid #2d6dfb;;
     border-radius: 10px;
     padding: 0.5em;
     color: #2d6dfb;;
     cursor: default;
     font-size: 25px;
     font-weight: bold;
     transition: 0.5s;
 }

 .save-button-active{ 
   
    background-color: #2d6dfb;;
   
   
    color: white;
    cursor: pointer;

}