.container__alert-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
}

.container__alert-page img{
    width: 12em;
    height: 10em;
}

.container__alert-page h1{
   
    margin-top: 0.5em;
}