@media screen and (min-width: 300px) {
  .container__doc{

    flex-direction: column;
    padding: 1em;

}

.doc-cliente p{
  font-size: 16px;
}

#assianturaTxt {

  font-size: 30px;
  text-align: center;
}

.doc {
  width: 92%;
  height: 30em;
  margin-right: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;

}

.doc-info {
  margin-bottom: 12em;
}

.doc-assinatura {


  width: 100%;
  height: 8em;

}

.doc-assinatura a p{
  font-size: 18px;
  padding: 13px;
}

.sender {
  margin-top: 1em;
  width: auto;

}

.sender h2{
  font-size: 17px;

}

.button {

  padding: 17px;

  font-size: 18px;

}

.doc-assinatura{
  width: 96%;

}

.sender p {
  font-size: 16px;

}
.sender {

  width:auto;

}



}



@media screen and (min-width: 500px){

.container__doc {

  align-items: center;

}
  .doc{
    width: 30em;

}

.sender{
  width:27em;
}

.doc-enviado{
  width:27em;
}
}


@media screen and (min-width: 750px) {

.container__doc{

  flex-direction: row;
  padding: 1em;

}
.container__doc {
  align-items: flex-start;
}

.sender {
  margin-left: 1em;
  margin-top: 0;
}
.sender p {

  margin-bottom: 0;
}

.button {

  margin-bottom: 1em;

}

.doc-enviado{
  
  margin-top: 0;
 
}


}


@media screen and (min-width: 1000px)
{

  .doc {
    padding: 3em 3em;
    height: 33em;

}

  .doc-info {
    margin-bottom: 15em;
}
}


@media screen and (min-width: 1500px){




.doc {
  padding: 3em 3em;
  height: 35em;

}


  .doc-info {
    margin-bottom: 17em;
}

.doc-cliente {

  margin-bottom: 0;
}


.sender p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 1em;
}

.sender h2 {
  font-size: 22px;
}


.doc-enviado{
    
  padding: 2em;
  width: 30em;

}

.doc-enviado h2{

  margin-bottom: 0.7em;
}

.button-download{
  width: 95%;
   margin-bottom: 4em; 
}







}


