

.sender{
   
    padding: 1.5em;
    background-color: white;

    height: fit-content;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
 }
 
 
 
 .sender h2{
    font-size: 22px;
    margin-bottom: 1em;
    font-weight: 400;
  }
 
  .sender span{
     color: black;
     font-weight: bold;
 }
 
 
 
 
 .button{
     background-color: white;
     border: 1px solid #2d6dfb;
     width: 100%;
     padding: 20px ;
     font-weight: bold;
     font-size: 22px;
     color: #2d6dfb;
     cursor: pointer;
     border-radius: 10px;
     margin-bottom: 2em;
     cursor: default;
 }
 
 
 
 
 .sender p{
     
     line-height: 18px;
     margin-bottom: 1em;
 }
 
 
 
 .doc-enviado{
     background-color: white;
     padding: 1em;
     text-align: center;
     border-radius: 5px;
     margin-left: 1em;
     display: flex;
     flex-direction: column;
     width: auto;
     margin-top: 1em;
     align-items: center;
     border-bottom: 1px solid rgba(0,0,0,.125);
     box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
   }
   
   .doc-enviado img{
     width: 3em;
     height: 3em;
     margin-bottom: 1em;
    
   }
   
   .doc-enviado p{
     margin-bottom: 0.5em;
     font-size: 17px;
     width: 80%;
    
   }
 
     
   .button-download {
    
     width: 90%;
     
     margin-bottom: 1em;
   }
 
   .button-download a img {
     width: 2em;
     height: 2em;
     margin: 0;
     margin-right: 0.5em;
   }
   
   
   .button-download a{
     background-color: #2d6dfb;
     padding: 1em;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-weight: bold;
     font-size: 18px;
   }
 
   .active-button{
 
     
     cursor: pointer;
     background-color: #2d6dfb;
     color: white;
 
 }
   