.container__doc{
    display:flex;
    flex-direction: row;
    justify-content: center;


}

.container__contrato-pdf{
    width: 100%;
    height: 22em;
    overflow-x: hidden;
}



.doc{
    width: 35%;
    height: 42em;
    margin-right: 2em;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
}

.doc-info{
    margin-bottom: 2em;
}

.doc-info h2{
    font-size: 20px;
    margin-bottom: 0.1em;

}

.doc-info p{
    font-size: 17px;


}


.doc-assinatura{

    border: 1px solid #ddd;
    width: 95%;
    height: 9em;
    margin-bottom: 1em;
    border-radius: 5px;



}

.doc-assinatura-sem-borda{
    border:none;
}

.doc-assinatura a{
    display: flex;

    font-size: 17px;
    text-decoration: none;

    width: 100%;
    height: 100%;

}


.isNotSigned{
    display: flex;
    justify-content: flex-start;

    color: rgb(129, 124, 124);


}

.isSigned{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: default;



}

.assinaturaImg{
    width: 100%;
    height: 100%;
}

#assianturaTxt{
    font-family: "Alex Brush", cursive;
    font-size: 40px;


}

.doc-cliente{
    text-align: center;
    margin-bottom: 1em;
}

.doc-cliente h3{
    font-size: 17px;

}
.doc-cliente p{
    font-size: 17px;

}

.button-sender{
  display: flex;
  justify-content: center;
}



.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed; /* Torna a tela de carregamento fixa em relação à janela de visualização */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(184, 184, 184, 0.8); /* Fundo semi-transparente para cobrir o conteúdo enquanto carrega */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

