
<div class="container__pdf">
    <div class="pdf-logo">
        <img src="../assets/img/logo_follow_sistema.png" alt="">
        <div class="info-log">
            <p>Datas e horários em GMT - 03:00 Brasília</p>
            <p>Log gerado em 08 de janeiro de 2024</p>
        </div>
    </div>
    <hr>

    <div class="pdf-body">
        <h2>{{docModel.title}}</h2>
        <p>Criado por • 08 jan 2024</p>
    </div>
    <hr>

    <div class="pdf-info-assinatura">
        <div class="info-user">

            <h2>Assinaturas</h2>

            <div class="container-user-icon">
                    <div class="icon-confirado">
                <img src="../../../assets/img/img-confirmado.png" alt="">
            </div>

            <div class="container-user-info">
                <h4>{{user.nameUser}} ({{user.idUser}})</h4>
                <p>CPF: {{user.cpfUser}}</p>
                <p>Assinou como paciente em 08 jan 2024</p>
            </div>



            </div>

        </div>

        <div class="user-signature">
            <h3 *ngIf="assinaturaTxt">{{assinaturaTxt}}</h3>
            <img *ngIf="assinaturaImg$" [src]="assinaturaImg$ | async" alt="assinatura">
        </div>

    </div>
    <hr>
    <div class="pdf-logs">
        <h2>Logs do documento</h2>
        <div
        >
          <div *ngFor="let log of docModel.logs" class="logs">
            <div class="data">
                <p>{{log.data}}</p>
                <p>{{log.hours}}</p>
            </div>

            <div class="assinante">
                <p>{{log.nameUserLog}} (3643) assinou o documento</p>
                <p>{{log.email}} - {{log.cpf}}</p>
            </div>
        </div>


        </div>
    </div>
    <hr>
</div>
