



<div class="container__pdf"  >
    <div class="pdf-logo">
        <img src="../assets/img/logo_follow_sistema.png" alt="">
        <div class="info-log">
            <p>Datas e horários em GMT - 03:00 Brasília</p>
            <p>Log gerado em {{dataAtual}}</p>
        </div>
    </div>
    <hr class="linhas">

    <div class="pdf-body">
        <h2 *ngFor="let doc of docModel" >{{doc.title}}</h2>
        <p>Criado por • {{dataAtual}}</p>
    </div>
    <hr class="linhas">

    <div class="pdf-info-assinatura">
        <div class="info-user">

            <h2>Assinaturas</h2>

            <div class="container-user-icon">
                <div class="icon-confirado">
                    <img src="../../../assets/img/img-confirmado.png" alt="">
                </div>

                <div class="container-user-info">
                    <h4>{{user?.nameUser}} ({{user?.idUser}})</h4>
                    <p>CPF: {{user?.cpfUser}}</p>
                    <p>Assinou como paciente em {{dataAtual}}</p>
                </div>
            </div>

        </div>

        <div class="user-signature">
          
            <img id="user-signature-txt" *ngIf="assinaturaTxt" [src]="assinaturaTxt" alt="assinatura">
            <img *ngIf="assinaturaImg" [src]="assinaturaImg" alt="assinatura">
        </div>

    </div>
    <hr class="linhas">
    <div class="pdf-logs">
        <h2>Logs do documento</h2>
        <div
        >
          <!-- <div *ngFor="let log of docModel?.logs" class="logs">
            <div class="data">
                <p>{{log.data}}</p>
                <p>{{log.hours}}</p>
            </div>

            <div class="assinante">
                <p>{{log.nameUserLog}} (3643) </p>
                <p>{{log.email}} - {{log.cpf}}</p>
            </div>
        </div> -->


        </div>
    </div>
    <hr class="linhas">
</div>



