
.container__pdf{
    padding: 2em;
    width: 530px;
    /* height: 1000px; */
    border: 1px solid black;

    background-color: white;
    }

.pdf-logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1em;

}

.pdf-logo img{
    width: 6em;
    height: 2em;

}

.pdf-logo p{
    font-size: 12px;
    color: rgb(63, 61, 61);
    line-height: 20px;

}
.pdf-body{
    margin: 1em 0;
    
}

.pdf-body h2{
    margin-bottom: 5px;
    font-size: 25px;
    
}
.pdf-body p{
    font-size: 15px;
   
    
}

.pdf-info-assinatura{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-user {
    width: 60%;

}

.info-user h2{
    margin-bottom: 0.5em; 

}
.user-signature{
    width: 40%;
    text-align: center;
}

.user-signature img{
    width: 100%; 
    height: 8em;
   
}


#user-signature-txt{
    width: 100%; 
    height: auto;
}

.user-signature p{
    font-family: "Alex Brush", cursive;
    font-size: 20px;
}
    
    

.container-user-icon{
    display: flex;
    flex-direction: row;
    
}

.icon-confirado img{
    width: 2em;
    height: 2em;
    margin-right: 10px;
    margin-top: 5px;
}
.container-user-info{
    line-height: 20px;

}

.container-user-info h4{

    font-size: 18px;
    margin-bottom: 10px;

}

.container-user-info p{

    font-size: 13px;
    color: rgb(63, 61, 61);

}





.pdf-logs{

    margin: 1em 0;

}

.pdf-logs h2{

    font-size: 20px;
    margin-bottom: 1em;
   

}


.logs{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 1em;
}

.data{
    margin-right: 2em;
    font-size: 15px;
    color: rgb(145, 144, 144);
}

.assinante{
    font-size: 15px;
}






