<div class="container__caixa-assinatura">
    
    <canvas id="signature-canvas" #signatureCanvas width="{{larguraCanvas}}" height="{{alturaCanvas}}"></canvas>

    <div class="action-button">
        
        <a (click)="clearDrawing()" >
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABAElEQVR4nOXUO2oCYRwE8CkknVcw6AV81BG9gI/aBwHbaNqINpY+WkUvoGir6AUU0yrJBQxaxV5Bg2FlKqv5S0AkA1+x8JtvtlgW+C+pADhdnOo1F53+6NxuwMknkf/8pCXAzoeCJ8Qxw0CcnbGCO8QvhoE8O20Fl6/4SmrslBScJe4aBnrsZBQcJZ4aBmbsRBTsI14ZBr7Y8Sr4AcAPgCMAl+Adc2DH6UrZ8I08gn2kXcOQd5aeBBumnVsGBiylBJum7VsGGiy9CbZIW7cMvLLUFGyLtmAZSLI0FOyINmEZCLG0EOySNmgZcAPYG/7/O3ZMyQHYCpd/A3i2Xn4/+QVXaHujT54Q+AAAAABJRU5ErkJggg==">
            Limpar</a>



        <a (click)="undoDrawing()"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACT0lEQVR4nO2aTUhVQRiGn0rKKCo3irgQE4Q2BQYJFxcuBEkMV7lxHa6kdtUikJZtJKpVuVB04dqVFIaCC0naJUKYLYQwKoKEtB+PDMyFQ5w7cy7cmXua+R54V+csvve9M9+cmbkgCIIgCIIg1IRzwAyR0gO8BxIi4wRwF/ilzUcVQDuwkjIeVQA3gW8Z5pNYGl1iULCUgA8W82X90CPkX30CtjK0AaynpKbWAvAMGNdNtqFexhuACeB3TvOu9AWY0mF4owNYrbPxLKmael2bHwW+F8CsSdPAhZgDSICPwJXYpkCS0XQHQm+CiUU/gX4CWQbXgW3gb5UhqCl7yWUI54FZSxG1RDW4IeAFsJ8zBBVmI44ZNTRIV7QAT4HDHCE8wgMdFRqka64Dny0BHACdHmohq0H64DLwNcc3gjdKqQbpix79S1cKQPWMZo/1UG6QPnloGQW3CZxTlqV5iQi4b5kGKqSgaQX+GELoJgI2DQGo47vgmTcEcIcImDQEcI8IeBx7AM8NAYwRAWuGAG4QOCf1YUilANSmLWhGDOZ3gWMEzoohAN97E+8MWjZDwwRME7BjML9Tz+s015wGXsa6FT4DLFrMb/s4GK0HpdRfcUxS54ZBcQ2Ys2x7y3rispCzuvmkaUpJfXRc1ErTBVytoDT9Wuou4Ja+D3iXw3RZy/rDqKYkGbI9z/tONe/Z9EafSxJjAK9cmS96AId6K1zzYf8/BPBWrwrOSQoWwJo+5zvu2HdhAtgDXgMPXF99F2kZ7NPP2nJVJQiCIAiCIFAVR+TV7DIKYo0vAAAAAElFTkSuQmCC"> 
            Desfazer</a>
    </div>

    <div class="save-button">
        <input (click)="downloadDrawing()" routerLink="/doc" type="button" value="Salvar assinatura" >
    </div>
    

</div>
