
#signature-canvas {
    border: 1px solid #1f1d1d;
    
    cursor: crosshair;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}



.action-button { 
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.action-button a{ 
    padding: 5px 8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    display: flex;
    width: fit-content;
    border: 1px solid black;
    align-items: center;
    margin-right: 1em;
}
.action-button a img{
    width: 2em;
    height: 2em;
   margin-right: 5px;

}

.active{
    border: 1px solid blue; 
     background-color: rgb(75, 75, 255);
     color: white;
 }
 
 .container-save-button {
     margin-top: 1em;
     display: flex;
     justify-content: center;
 }
 .save-button{ 
    width: 80%;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 0.5em;
    color: blue;
    cursor: default;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
 }

 .save-button-active{ 
   
    background-color: blue;
   
   
    color: white;
    cursor: pointer;

}