@media screen and (min-width: 300px){
    .action-button button {
    
        font-size: 16px;
       
    }

    .save-button  {
        text-align: center;
        margin-bottom: 1em;
        
    }

    .save-button input {
        width: 70%;
        font-size: 19px;
        
    }
}
